{% extends 'base.html' %}

{% block content %}
		
	<h1> Welcome to HHK </h1>
			{% if user.is_authenticated and user.is_superuser %}
				<a href="{% url 'display:get_display' %}">DISPLAY ATTENDANCE</a>
				<a href="{% url 'display:get_display_score' %}">DISPLAY SCORE</a>
				<a href="{% url 'display:get_analysis_type' %}">ATTENDANCE ANALYSIS</a>
				<a href="{% url 'display:get_score_analysis_type' %}">SCORE ANALYSIS</a>
			{% endif %}
		{% if user.is_authenticated and user.school %}
			<a href="{% url 'schools:school_detail' pk=user.school.pk username=user.username %}">My School</a>
	  			<!-- <a href="{% url 'schools:update' pk=user.school.pk  %}">Update</a>
	  			<a href="{% url 'schools:create_student' pk=user.school.pk  %}">Add A Student</a>
	  			<a href="{% url 'academics:get_std_sec_maxattendance' pk=user.school.pk  %}">Add Attendance</a>
	  			<a href="{% url 'academics:get_sc_detail' pk=user.school.pk  %}">Add Score</a>
	  			<a href="{% url 'academics:create_subject' %}">Create Subject</a> -->

	  	{% endif %}
{% endblock %}